The purpose of this notebook are as follows: 
1. Identify fast food restaurants in each Brooklyn and Manhattan NTA
2. Perform clustering

In [5]:
# Setting up modules
import geopandas as gpd
from geopandas import GeoDataFrame
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import re

In [2]:
# data paths
data_path = "./data"
Yelp_BK_path = data_path +  "/Yelp/BK/"
Yelp_MN_path = data_path + "/Yelp/MN/"
path_census_tracts = './data/ACS/CensusTracts'

In [28]:
# Reading in Yelp shapefiles 
MN_Yelp = gpd.read_file(Yelp_MN_path + "MN_Yelp_CensusTract_NTA.shp")
BK_Yelp = gpd.read_file(Yelp_BK_path + "BK_Yelp_CensusTract_NTA.shp")

In [29]:
MN_Yelp.head()

,id,alias,name,is_closed,review_cou,rating,price,categories,latitude,longitude,...,NTAName,0-25k,25-50k,50-75k,75-100k,100-125k,125-150k,> 150k,MeanLifeEx,geometry
0,ksksxd8J2SIs97ccPFV75A,brown-sugar-restaurant-new-york,Brown Sugar Restaurant,0,204,3.5,$$,"cuban,seafood,steak",40.869926,-73.915466,...,Marble Hill-Inwood,0.32,0.21,0.15,0.14,0.07,0.04,0.07,84.028571,POINT (-73.91546600000001 40.869926)
1,IHGm6huN_Z48KdorBjztSQ,guacamole-taqueria-new-york,Guacamole Taqueria,0,122,3.5,$$,mexican,40.869520,-73.916740,...,Marble Hill-Inwood,0.32,0.21,0.15,0.14,0.07,0.04,0.07,84.028571,POINT (-73.91674 40.86952)
2,rUBFgZU3QTk7IOgpccE8Og,indian-road-cafe-new-york,Indian Road Cafe,0,580,4.0,$$,"coffee,newamerican,bars",40.872915,-73.918441,...,Marble Hill-Inwood,0.32,0.21,0.15,0.14,0.07,0.04,0.07,84.028571,POINT (-73.91844082 40.87291516)
3,AflnoQBr01QmQIq5hVH-iA,la-essencia-restaurant-new-york,La Essencia Restaurant,0,13,3.5,$$,"mexican,dominican",40.870870,-73.915050,...,Marble Hill-Inwood,0.32,0.21,0.15,0.14,0.07,0.04,0.07,84.028571,POINT (-73.91504999999999 40.87087)
4,8o-B_1q4XB48CmdaXdm2KQ,raices-new-york,Raices,0,127,3.5,$$,"bars,latin",40.866330,-73.920160,...,Marble Hill-Inwood,0.32,0.21,0.15,0.14,0.07,0.04,0.07,84.028571,POINT (-73.92016 40.86633)

In [32]:
# String query to select for fast food restaurants
BK_fast_food = BK_Yelp[BK_Yelp["categories"].str.contains(r"hotdog", na = False)]
BK_fast_food = BK_fast_food[BK_fast_food["price"].str.contains(r"\$|\$\$|MISSING", na = False)]
MN_fast_food = MN_Yelp[MN_Yelp["categories"].str.contains(r"hotdog", na = False)]
MN_fast_food = MN_fast_food[MN_fast_food["price"].str.contains(r"\$|\$\$|MISSING", na = False)]

In [33]:
# # Check and some random stats
# print(MN_fast_food.shape)
# print(BK_fast_food.shape)
# print(MN_fast_food.name.nunique())
# print(BK_fast_food.name.nunique())

(440, 27)
(328, 28)

146
119