### Purposes
1. Merge the 2017 ACS 5-year estimate household income distribution data with the 2019 TIGER/Line shapefile of Census Tracts in Brooklyn.
2. Read in the Neighborhood Tabulation Area (NTA) data for use as a scale of geospatial analysis.
3. Aggregate the 2017 5-year estimate household income distribution data at the NTA scale
4. Merge the two datasets above with the georeferenced Yelp data

In [1]:
# Setting up modules
import geopandas as gpd
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

# Data path 
path_census_tracts = './data/ACS/'
path_yelp = './data/Yelp/'

In [44]:
# Import csvs
BK_hh_income_dis_pct = pd.read_csv(path_census_tracts + 'BK_hh_income_dis_pct.csv')
BK_hh_income_dis_count = pd.read_csv(path_census_tracts + "BK_hh_income_dis_count.csv")
# BK_hh_income_dis_pct = pd.DataFrame(BK_hh_income_dis_pct)
NTA_census_tract_equivalency_table = pd.read_csv(path_census_tracts + "CensusTracts/nyc2010census_tabulation_equiv.csv")

# Import shps
NY_state_census_tracts = gpd.read_file(path_census_tracts + "CensusTracts/tl_2019_36_tract.shp")
MN_Yelp = gpd.read_file(path_yelp + "MN/MN_Yelp.shp")
BK_Yelp = gpd.read_file(path_yelp + "BK/BK_Yelp.shp")
NYC_neighborhood_tabn_areas = gpd.read_file(path_census_tracts + "CensusTracts/nynta_reproj.shp")

In [3]:
NYC_neighborhood_tabn_areas.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
0,3,Brooklyn,047,BK88,Borough Park,39247.228074,5.400502e+07,POLYGON ((-73.97604935657382 40.63127590564677...
1,4,Queens,081,QN51,Murray Hill,33266.904811,5.248828e+07,POLYGON ((-73.80379022888246 40.77561011179247...
2,4,Queens,081,QN27,East Elmhurst,19816.711538,1.972685e+07,POLYGON ((-73.86109724401859 40.76366447708767...
3,4,Queens,081,QN07,Hollis,20976.335837,2.288777e+07,POLYGON ((-73.75725671509139 40.71813860166255...
4,1,Manhattan,061,MN06,Manhattanville,17040.686548,1.064708e+07,"POLYGON ((-73.94607828608069 40.8212632160616,..."

In [9]:
BK_hh_income_dis_count.head()

,ID,Geography,Households,0-25k,25k-50k,50k-75k,75k-100k,100k-125k,125k-150k,> 150k
0,36047000100,"Census Tract 1, Kings County, New York",2184,464,217,190,402,145,153,613
1,36047000200,"Census Tract 2, Kings County, New York",377,99,115,78,26,47,0,12
2,36047000301,"Census Tract 3.01, Kings County, New York",1865,81,382,16,200,232,142,812
3,36047000501,"Census Tract 5.01, Kings County, New York",1772,333,74,167,99,169,208,722
4,36047000502,"Census Tract 5.02, Kings County, New York",1560,206,180,116,167,155,113,623

In [96]:
# Filter for NYC (Manhattan and Brooklyn)

BK = NY_state_census_tracts[NY_state_census_tracts["COUNTYFP"] == '047']
MN = NY_state_census_tracts[NY_state_census_tracts["COUNTYFP"] == '061']
BK_neighborhood_tabn_areas = NYC_neighborhood_tabn_areas[NYC_neighborhood_tabn_areas["BoroName"] == "Brooklyn"]
MN_neighborhood_tabn_areas = NYC_neighborhood_tabn_areas[NYC_neighborhood_tabn_areas["BoroName"] == "Manhattan"]

# Cutting out all of the crap
MN = MN[["GEOID", "geometry"]]
BK = BK[["GEOID", "geometry"]]
BK_neighborhood_tabn_areas = BK_neighborhood_tabn_areas[["NTACode", "NTAName", "geometry"]]
MN_neighborhood_tabn_areas = MN_neighborhood_tabn_areas[["NTACode", "NTAName", "geometry"]]

# Converting type of column
# int wont work because it is too long
BK.GEOID = BK.GEOID.astype(float)
# Merging
BK = BK.merge(BK_hh_income_dis_count, left_on = 'GEOID', right_on = 'ID')

In [26]:
# Reprojecting the BK_NTA file
#BK_neighborhood_tabn_areas.crs = {'init': 'epsg:4269'}
#MN_neighborhood_tabn_areas.crs = {'init': 'epsg:4269'}

# Are the CRSes identical?
print(BK.crs == BK_Yelp.crs)
print(BK.crs == BK_neighborhood_tabn_areas.crs)

True
True

At this point, we have a slight issue. The ACS data is collected at the Census tract level. We know that NTAs' borders line up perfectly with that of the census tracts. However, there is no column within the NTA shapefile that tells us which tracts each NTA is made up of. Hence, we need to perform a spatial join with the Brooklyn census tract file to create a column that identifies which NTA each tract belongs to so as to facilitate grouping and summary statistics.

In [30]:
# Spatial join for Brooklyn ACS Census Tract with NTA
##BK_ct_NTA_joined = gpd.sjoin(BK, BK_neighborhood_tabn_areas, how = "inner", op = "intersects")
##BK_ct_NTA_joined = BK_ct_NTA_joined.drop(columns = ["ID","Geography", "index_right"])

In [39]:
##print("Number of census tracts in Brooklyn: " + str(BK.shape[0]))
##print("Number of NTAs in Brooklyn: " + str(BK_neighborhood_tabn_areas.shape[0]))
# Select all duplicate rows based on one column
##duplicate_rows_bk_df = BK_ct_NTA_joined[BK_ct_NTA_joined.duplicated(subset = ['GEOID'])]
##print("Number of duplicate rows based on GEOID post-spatial join: " +  str(duplicate_rows_bk_df.shape[0]))

Number of census tracts in Brooklyn: 761
Number of NTAs in Brooklyn: 51
Number of duplicate rows based on GEOID post-spatial join: 802

Ideally, and more simply, I would do a spatial join as shown above between the NTA and Census Tract shapefiles to determine the NTA each census tract falls into. However, as the print-out above shows, there are multiple duplication of rows post spatial join. Why? The `op` argument in `gpd.sjoin` accepts one of three values: `"intersects", "contains", "within"`. The following [site](https://shapely.readthedocs.io/en/latest/manual.html#binary-predicates) by the developers of the `shapely` module describes the different types of spatial joins.   

All three are unsuitable as the borders of each NTA and Census Tract do not line up **perfectly**. In other words there are some overlaps here and there which throw off the entire spatial join. Even if the borders line up perfectly, contiguity is an issue. In an `intersect`, it does not matter which side of the line an object is on as long as it touches the line unless a direction argument is available and specified, neither of which are available in this case. That is to say, tract i will be counted as part of both NTAs j and k as long as the border of tract i lines up along the border between NTAs j and k. I imagine common vertices count too. 

Hence, I had to use an equivalency table published by [NYC Planning](https://www1.nyc.gov/site/planning/data-maps/open-data/dwn-nynta.page) to map each census tract to the NTA code. This is done using the GEOID column which is common to both tables. The GEOID column in the equivalency table is a new column I created by concatenating State FIPS (36) with County FIPS and Tract ID 
in Excel before saving and exporting as a CSV. Some table structure cleaning was also performed in Excel prior.

In [66]:
# Merging
BK_NTA = BK.merge(NTA_census_tract_equivalency_table, left_on = 'ID', right_on = 'GEOID')

# Reducing the width
BK_NTA_reduced = BK_NTA.drop(["GEOID_x", "Geography", "State FIPS", "County FIPS", "2010 Census Tract", "GEOID_y", "Borough", "ID"], axis = 1)

In [67]:
print("Number of Census Tracts in newly merged file == Number of Census Tracts in Brooklyn? " + str(BK_NTA_reduced.shape[0] == BK.shape[0]))

Number of Census Tracts in newly merged file == Number of Census Tracts in Brooklyn? True

Okay so I have established that the merge ran smoothly with no duplications. The next thing to do is to run a summary function over the household income distribution columns that groups tracts by NTAs, summarize, and convert to percentages while keeping its geometry.

In [102]:
col_names = BK_NTA_reduced.columns
#print(col_names)
#print(BK_neighborhood_tabn_areas.head())

In [98]:
# Group, rowsum, col div by only the income columns, retaining the absolute number of households per NTA
BK_NTA_grouped = BK_NTA_reduced.groupby(by=col_names[10]).sum().iloc[:, 0:8]
BK_NTA_grouped.iloc[:, 1:] = BK_NTA_grouped.iloc[:, 1:].div(BK_NTA_grouped.iloc[:, 1:].sum(axis=1), axis=0)

# Merging with the BK NTA shp to get geometry that was lost with the merging, grouping and summary functions
BK_NTA_grouped_pct = BK_neighborhood_tabn_areas.merge(BK_NTA_grouped, left_on = 'NTAName', right_index = True)

In [101]:
print("Number of NTAs in Brookyln in the merged file: " + str(BK_NTA_grouped_pct.shape[0]))
print("If there are 51, that means that the merge ran successfully.")

Number of NTAs in Brookyln in the merged file: 51
If there are 51, that means that the merge ran successfully.

In [99]:
BK_NTA_grouped_pct.head()

,NTACode,NTAName,geometry,Households,0-25k,25k-50k,50k-75k,75k-100k,100k-125k,125k-150k,> 150k
0,BK88,Borough Park,POLYGON ((-73.97604935657382 40.63127590564677...,26710,0.331037,0.267802,0.132160,0.089292,0.063609,0.036541,0.079558
6,BK25,Homecrest,POLYGON ((-73.95859278495767 40.61040303093504...,15528,0.257664,0.217800,0.153916,0.103941,0.107290,0.042375,0.117014
12,BK44,Madison,POLYGON ((-73.93753749374042 40.60855739025752...,14900,0.214765,0.190805,0.166577,0.118658,0.100201,0.056711,0.152282
13,BK41,Kensington-Ocean Parkway,POLYGON ((-73.97084113663696 40.64637857107214...,12228,0.243785,0.219496,0.156117,0.131420,0.096418,0.053566,0.099199
14,BK95,Erasmus,POLYGON ((-73.94826499590911 40.63860718970649...,10137,0.271678,0.269212,0.163165,0.124593,0.061162,0.052086,0.058104

At this point, the ACS data have been successfully aggregated at the NTA scale. This means that we can now run spatial joins with the Yelp data to determine the NTA each restaurants falls into.

In [103]:
# Spatial join for Yelp with Neighborhood Tabulation Area 
BK_NTA_Yelp_joined = gpd.sjoin(BK_Yelp, BK_NTA_grouped_pct, how = 'inner', op = 'within')

BK_NTA_Yelp_joined.head(2)

,id,alias,name,is_closed,review_cou,rating,price,categories,latitude,longitude,...,NTACode,NTAName,Households,0-25k,25k-50k,50k-75k,75k-100k,100k-125k,125k-150k,> 150k
0,6gzQLjzJk25ePm_JS7ZAug,esme-brooklyn-2,Esme,0,328,4.5,$$,newamerican|cocktailbars,40.733203,-73.954967,...,BK76,Greenpoint,16223,0.20021,0.136843,0.151883,0.13598,0.105529,0.086914,0.182642
1,Swjm9no7DRqhThLlf0EHng,sama-street-brooklyn-2,Sama Street,0,58,4.5,$$,cocktailbars|panasian|tapasmallplates,40.732870,-73.954480,...,BK76,Greenpoint,16223,0.20021,0.136843,0.151883,0.13598,0.105529,0.086914,0.182642

In [105]:
# Saving to file as .shp
## Impt to set encoding = 'utf-8' or it will throw a codec error
#MN_Yelp_NTA_joined.to_file(path_yelp + 'MN/MN_Yelp_CensusTract_NTA.shp', driver='ESRI Shapefile', encoding = 'utf-8')
BK_NTA_Yelp_joined.to_file(path_yelp + 'BK/BK_Yelp_CensusTract_NTA.shp', driver='ESRI Shapefile', encoding = 'utf-8')